<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ConfigurationUtilityComponents">
            <Component Id="cmp520088652AD9F17E0800A9DEF4FDA311" Directory="INSTALLFOLDER" Guid="E599C63D-E61D-42F8-A278-C9BE728B42EB">
                <File Id="fil79FDEBB3983A5E618EDF09A22D364C2B" KeyPath="yes" Source="$(var.ECR.TargetDir)\dictionary.json" />
            </Component>
            <Component Id="cmpBE2682328C9B3593E1B6E780B8ED1442" Directory="INSTALLFOLDER" Guid="F4541133-4A26-45EE-B871-D027AFB83415">
                <Class Id="{0DC5D869-251A-30BE-AA40-3B401E5764C2}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Dummy" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Dummy" Description="Dynamitey.DynamicObjects.Dummy" />
                </Class>
                <Class Id="{1948AA17-CCBD-3F7D-BE35-2E38780FC937}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" Description="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" />
                </Class>
                <Class Id="{4152FDA4-31F6-322C-875B-037BFB77D224}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.BaseFactory" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.BaseFactory" Description="Dynamitey.DynamicObjects.BaseFactory" />
                </Class>
                <Class Id="{584A43C5-C410-3709-ABC2-37362A82FE31}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Recorder" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Recorder" Description="Dynamitey.DynamicObjects.Recorder" />
                </Class>
                <Class Id="{ADA5F564-3FC1-3532-A0B8-C66AA8268559}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Mimic" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Mimic" Description="Dynamitey.DynamicObjects.Mimic" />
                </Class>
                <Class Id="{B3516AA3-12ED-3F22-B606-4876CBDDBED0}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" Description="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" />
                </Class>
                <Class Id="{B5F9A839-6114-35F6-8941-B073B3B33405}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.Dictionary" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.Dictionary" Description="Dynamitey.DynamicObjects.Dictionary" />
                </Class>
                <Class Id="{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}" Context="InprocServer32" Description="Dynamitey.DynamicObjects.ChainableDictionary" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Dynamitey.DynamicObjects.ChainableDictionary" Description="Dynamitey.DynamicObjects.ChainableDictionary" />
                </Class>
                <File Id="fil0431A42F084C8CFAEA0F3E8040DB4DD3" KeyPath="yes" Source="$(var.ECR.TargetDir)\Dynamitey.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Dummy" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Dummy" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DC5D869-251A-30BE-AA40-3B401E5764C2}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.BaseSingleInstancesFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1948AA17-CCBD-3F7D-BE35-2E38780FC937}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.BaseFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.BaseFactory" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4152FDA4-31F6-322C-875B-037BFB77D224}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Recorder" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Recorder" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{584A43C5-C410-3709-ABC2-37362A82FE31}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Mimic" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Mimic" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ADA5F564-3FC1-3532-A0B8-C66AA8268559}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.BaseForwarder+AddRemoveMarker" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3516AA3-12ED-3F22-B606-4876CBDDBED0}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.Dictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.Dictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B5F9A839-6114-35F6-8941-B073B3B33405}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="Class" Value="Dynamitey.DynamicObjects.ChainableDictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="Class" Value="Dynamitey.DynamicObjects.ChainableDictionary" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F29901AD-0C57-352B-8BAF-DFD2699C5F2E}\InprocServer32" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="Class" Value="Dynamitey.InvocationKind" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="Assembly" Value="Dynamitey, Version=1.0.2.0, Culture=neutral, PublicKeyToken=cbf53ea3aeb972c6" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1A51CE35-AADF-3020-B956-E1196C4E9E38}\1.0.2.0" Name="CodeBase" Value="file:///[#fil0431A42F084C8CFAEA0F3E8040DB4DD3]" Type="string" Action="write" />
            </Component>
            <Component Id="cmpAE50E15E28B4B7B63484D296FB35BB6C" Directory="INSTALLFOLDER" Guid="88EE2FCB-FECF-4417-8B28-98A12F6DDC66">
                <File Id="fil12A4CC0660539A372789BEC18DB52EBB" KeyPath="yes" Source="$(var.ECR.TargetDir)\Dynamitey.pdb" />
            </Component>
            <Component Id="cmp442FE9A0B3716CD14023D289694987D2" Directory="INSTALLFOLDER" Guid="1A75D51D-89D1-44D3-86C7-D949023E9736">
                <File Id="fil2F6F6B17754D368FBD54B01A464949A5" KeyPath="yes" Source="$(var.ECR.TargetDir)\Dynamitey.xml" />
            </Component>
            <Component Id="cmp684D0C8C2FAFAFFF10330BF07B339CE6" Directory="INSTALLFOLDER" Guid="129FB67A-684B-4E8D-98ED-B068DF86280C">
                <File Id="filDB8726E2682AE0BCF3A14B4E405E7D6F" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.BootstrapperCore.config" />
            </Component>
            <Component Id="cmp2B5CA491253C301BCEE634A06A7286F6" Directory="INSTALLFOLDER" Guid="E67F0A18-5059-40BF-8D39-DCDD7E01B0A7">
                <File Id="fil75F6E0C8EBE6F2BB93B70EBDB4068FCD" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.vshost.exe.config" />
            </Component>
            <Component Id="cmp97D7769DDB855CFBA74DCE4662F34C9F" Directory="INSTALLFOLDER" Guid="65C66373-30CA-415A-83BA-D27A81A6F71E">
                <File Id="fil55E5B329C4310894C0FE7EA8B3D35A56" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECR.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp1C9A10BEC1982395FD49693718DED837" Directory="INSTALLFOLDER" Guid="A20971A2-44A3-4216-86EA-19326F8F75D2">
                <File Id="fil65772576A41F2E01D5416C51F2677E19" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHex.vshost.exe.config" />
            </Component>
            <Component Id="cmpC1BBE37DAACBB70AD0FA02B8BB9AFE45" Directory="INSTALLFOLDER" Guid="AFEDCD96-EF4E-49ED-B81C-43F9580AAFEE">
                <File Id="fil95E13E136A06897FDE531F232E1F10C8" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHexUpload.exe" />
            </Component>
            <Component Id="cmpFA561678A2EB83A06D4115EC2DE880FB" Directory="INSTALLFOLDER" Guid="710465AE-03F3-4936-A2D0-BC3D25AEDC93">
                <File Id="fil1DD56385D03EB2AE1C28C28719C4CEAA" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHexUpload.exe.config" />
            </Component>
            <Component Id="cmp1F35A2B076733A0AB98640633AB98582" Directory="INSTALLFOLDER" Guid="85F0E325-6FB5-4881-8B4B-D4FFBE06C0FC">
                <File Id="filE212DB471CD144E84C7ABA880FBE7829" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHexUpload.pdb" />
            </Component>
            <Component Id="cmpD792D21F68A2408D4B578EE8938677C0" Directory="INSTALLFOLDER" Guid="BFE2B4D5-39A0-466C-8A56-31FA16069539">
                <File Id="fil2C12C3C6C93DDD19C4126A024C1B598F" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHexUpload.vshost.exe" />
            </Component>
            <Component Id="cmp19692C4D29850415B4B915A25B59C412" Directory="INSTALLFOLDER" Guid="13EFC549-0CA5-4699-9F7C-405A90D56931">
                <File Id="filE7BFD0BA8E87013BBBD21AA1D2D734F7" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHexUpload.vshost.exe.config" />
            </Component>
            <Component Id="cmpD1CDB8931346BA0F1CE67BF9A3D172A0" Directory="INSTALLFOLDER" Guid="150D1B62-BAC8-4B3D-A1DB-BAF0EB4C4520">
                <File Id="fil547BDF73D4B2E351ABD6C86BB27F63F9" KeyPath="yes" Source="$(var.ECR.TargetDir)\ECRHexUpload.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp6008A86AE138BD45314608B385266AA3" Directory="INSTALLFOLDER" Guid="E3E3875F-259A-41C2-B41C-7CE182838BF5">
                <File Id="fil1903E10C302552AF0F25292D924A8B57" KeyPath="yes" Source="$(var.ECR.TargetDir)\icon.ico" />
            </Component>
            <Component Id="cmpC92D9566450D2381C819C291B41E2EE8" Directory="INSTALLFOLDER" Guid="ADB77756-2C47-41BE-A162-D243C6704A70">
                <File Id="fil3B7D3B0904598A6E39F49D385D9EF1F6" KeyPath="yes" Source="$(var.ECR.TargetDir)\logo.ico" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Directory="INSTALLFOLDER" Guid="C66A6800-EF36-4D1B-960D-94E5A9B544D7">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.dll" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.YieldAwaitable" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2FAF1D94-0A36-3214-B904-3F98E93A1347}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.ConfiguredTaskAwaitable" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{73F58F7F-FAFB-3240-8E9E-82F4E9A8F4ED}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.YieldAwaitable+YieldAwaiter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{860F96AE-74E9-3A35-AC33-2E578BF3B504}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.TaskAwaiter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EA7ADF52-E661-327C-8CB8-B1469F8F1C18}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="Class" Value="Microsoft.Runtime.CompilerServices.ConfiguredTaskAwaitable+ConfiguredTaskAwaiter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="Assembly" Value="Microsoft.Threading.Tasks, Version=1.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F973E172-9860-3CC1-B846-723D2F159D0B}\1.0.12.0" Name="CodeBase" Value="file:///[#fil65C3764DFEF4B816AA91E646D63059C1]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Directory="INSTALLFOLDER" Guid="671D76CF-4D00-4C06-93DD-E2E59B427954">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp1CEBF83F44FBF4E54F6836267184EBCB" Directory="INSTALLFOLDER" Guid="D8EDFE85-76F0-4341-8FBB-A6EEF0F602B4">
                <File Id="fil73DE8E4573C49C252AF9BBEB750C3371" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.Desktop.xml" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Directory="INSTALLFOLDER" Guid="FA7E2155-8DA5-43EF-96CF-11AFDD185A5F">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpF17FF2B4A4721FA24BEFA74C0309A2F1" Directory="INSTALLFOLDER" Guid="E905009C-50CC-4E34-8857-541ADF31C010">
                <File Id="fil34823D88AB36900C40AB3A8E7D4BD88A" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.Extensions.xml" />
            </Component>
            <Component Id="cmp70F570FFEF73490225CDC4144CEC292F" Directory="INSTALLFOLDER" Guid="F1F388F9-11B4-412D-898A-81342BE87067">
                <File Id="fil8DFD77FF75A79420C9E864EAFB8BD4C3" KeyPath="yes" Source="$(var.ECR.TargetDir)\Microsoft.Threading.Tasks.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="70566D62-2E81-47E1-B39D-386063E87841">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.ECR.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp22E746D6F416E29CB766C7D18764B4B9" Directory="INSTALLFOLDER" Guid="57B1F3D3-5748-40D0-B3FA-27733B4F1935">
                <File Id="filCDAFB89F0B81C3E6CC5A00DBBB38E11F" KeyPath="yes" Source="$(var.ECR.TargetDir)\Newtonsoft.Json.pdb" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Directory="INSTALLFOLDER" Guid="1646F3DE-BA4E-483F-9686-D5A61616BB77">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.ECR.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp06E205989506C503C7B11F6FE4B449C6" Directory="INSTALLFOLDER" Guid="F0342FCD-80B0-4288-B2F0-38D5BC14CCCC">
                <File Id="fil1585A04883FF89B289FC2454E8EDC783" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.IO.dll" />
            </Component>
            <Component Id="cmp29F939233941398174AE650F10917EE2" Directory="INSTALLFOLDER" Guid="2D9A2FA5-CDE6-44C0-B9B1-D324A75340EF">
                <File Id="fil60F9BEFA23716E87B5A5BBE1A9D95798" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.IO.xml" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Directory="INSTALLFOLDER" Guid="65CCD7B9-BF6E-44D2-8CA5-351CC9C6CE82">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp5CBF91F07AFC195A7A5B6006DE491FFF" Directory="INSTALLFOLDER" Guid="AB196562-DB64-4A75-B51F-8EF62A751C0A">
                <File Id="filDA6A662B79BB9F3A75FFF1382B78F6E7" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.WebRequest.dll" />
            </Component>
            <Component Id="cmpAC7F14E01CF7B0339BC7498B004EAB5A" Directory="INSTALLFOLDER" Guid="C298277E-2EAF-45A4-AA4C-4FF9F2665E57">
                <File Id="filEEA458C8C389DFCE095A6EDEDB33304D" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.WebRequest.xml" />
            </Component>
            <Component Id="cmp42DCC6F5718EE9E99FD27D6EC4DC8B65" Directory="INSTALLFOLDER" Guid="5B5D7C05-25F6-4206-92CA-BCBAE279FD9D">
                <File Id="filBEC8D8E145CC6BF308933B7C61B08E0A" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Net.Http.xml" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Directory="INSTALLFOLDER" Guid="BDC42749-1D94-4376-9DC4-85605F034602">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp069F536DD65148B9E0DADDF7F860B86D" Directory="INSTALLFOLDER" Guid="2FD18E69-F446-4B8A-9E23-01A725F8E894">
                <File Id="fil6366DF6D9D8AF01E24128E6663573FDA" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Runtime.xml" />
            </Component>
            <Component Id="cmp174FEA916F072AFEF2DC68827B08C208" Directory="INSTALLFOLDER" Guid="10C66E14-E0EE-4DDB-A823-520BDC9A39FD">
                <File Id="fil7F3C8D53605A91C20728F321E6100DC4" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpE2022A5DDEE4638DF06043143814CE16" Directory="INSTALLFOLDER" Guid="5440F06D-6CF3-4E26-AC48-EDBE4F1485D3">
                <File Id="fil1E7D5F59F3BB9AD60650D47B9BE37AAF" KeyPath="yes" Source="$(var.ECR.TargetDir)\System.Threading.Tasks.xml" />
            </Component>
            <Component Id="cmp76DF14AB45DB47525C3A22F0178BF740" Directory="dirE9205C68F964857267FD3312DBFF9A91" Guid="8B236C70-C153-4F41-8981-2E714E3D7F05">
                <File Id="fil9524E331C8EF61A425CBC220E9B0E10E" KeyPath="yes" Source="$(var.ECR.TargetDir)\ru\ECRHexUpload.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>